GOOGLE_CLIENT_SECRET="xxxSPX-IBzu-yX1tOVse0FJyOoYwcxxxxxx"
GOOGLE_CLIENT_ID="xxxxxx681390-b871npco41agqt652a2vp8a2jgxxxxxx.apps.googleusercontent.com"
GOOGLE_REDIRECT_URI="http://localhost:8080/auth/recall"
# secret sesuka anda
JWT_SECRET="c6468be5x"

DB_URL='libsql://xxxxxx.aws-ap-northeast-1.turso.io'
DB_TOKEN='xxxxxxxxxxxxxxnR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODE0NzE5MTcsImlkIjoiMDE5ZWM3ZjktMTUwMxxxxxxxZWMxMTZjYmJmIiwicmlkIjoiM2NkYmYzNjAtNzY3MC00ZjgxLWFjN2QtMDgwMjJiYTUzY2JhIn0.ak0N_AFvncW5fnAXo6wRFsj0mH9GgDQ1lMVEACKIWt03LSvU61aVMaEzzbUIQXqKd328yOyB_X18BxdJJ0R_DA'
